<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Northwind"
			connectionString = "Server=.\SQLEXPRESS01;Database=Northwind;Trusted_Connection=True;Enlist=False;"
			providerName     = "SqlServer" />
	</connectionStrings>
</configuration>
